.Appointment-search-container {
    width: 30%;
    height: 100%;
    margin: auto;
    margin-left: 40%;
    display: block;
    flex-direction: column;
    padding: 1rem;
    justify-content: start;
    align-items: start;

    /* background-color: #1574c7; */
}

.Appointment_container {
    padding: 2rem;
}

.Appointment-search-container h4 {
    text-align: left;
    margin-bottom: -0.6rem;
    margin-top: -0.6rem;
}

.Appointment_container h2 {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.Appointment-search-container Button {
    text-align: left;
    align-self: start;
}

.Appointment_heading {
    text-align: left;
    color: #1574c7;
    font-family: 'Arial', sans-serif;
    margin-bottom: 4rem;

}